.env
Module/__pycache__
notebooks/.ipynb_checkpoints
~$*.xlsx
__pycache__
Log
debug_info.log
localhost+1*.pem
generated*.png
auth_config.*
# SQLite数据库文件
*.db
*.sqlite
*.sqlite3
# SQLite日志和临时文件
*.db-journal
*.db-shm
*.db-wal
# QRcode
Module/style/nezha/storage/posters
Module/style/nezha/storage/qrcodes
Module/style/nezha/storage/uploads